.additionally {
  border: 0;
  padding: 0;
  padding: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__legend {
    margin-bottom: 20px;
    font-family: $mainFonts;
    font-size: 24px;
    line-height: 24px;
    color: #111111;
    font-weight: 500;
  }

  &__label {
    @include lableFonts;
    margin-bottom: 13px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__checkbox {
    margin-right: 16px;
  }
}


@media (min-width:768px) {
  .additionally__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .additionally__label {
    width: 290px;
  }
}
