.block-info {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 29px;

  @media (min-resolution:144dpi), (min-resolution:1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  &__wrapper {
    text-align: center;
    margin-bottom: 29px;
  }

  &__heading {
    margin: 0;
    font-family: $mainFonts;
    color: white;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  &__tagline{
    margin: 0;
    margin-top: 25px;
    font-family: $mainFonts;
    color: white;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: -1px;
  }
  &__button  {
    margin: 0 auto;
  }
}

@media (min-width:768px) {

  .block-info {
    padding: 0;
    background-image: none;
    margin-left: 90px;
    position: relative;
  }

  .block-info__heading {
    font-size: 60px;
    line-height: 60px;
    color: black;
  }

  .block-info__tagline {
    margin-top: 40px;
    font-size: 20px;
    line-height: 20px;
    color: black;
  }

  .block-info__wrapper {
    width: 420px;
    text-align: left;
    margin-bottom: 20px;
  }

  .block-info__image {
    margin-left: -90px;
    margin-bottom: 0px;
  }

  .block-info__button {
    margin: 0;
    position: absolute;
    top: 225px;
    left: 0;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
  }
}

@media (min-width:1440px) {
  .block-info {
    display: flex;

  }

  .block-info__wrapper {
    margin-top: 84px;
  }

  .block-info__image {
    margin-left: -55px;
  }
  .block-info__button {
    top: 315px;
    left:0;
  }

}
