.example {
  background-color: #f2f2f2;
  padding: 20px 20px 35px 20px;

  &__heading {
    @include typeHeading;
    margin: 0;
  }

  &__text {
    @include typeText;
  }

  &__statistics {

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
  }

  &__term {
    font-family: $secondaryFonts;
    font-size: 12px;
    line-height: 12px;
  }

  &__value {
    font-family: $mainFonts;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  &__expenses {
    font-family: $mainFonts;
    font-size: 14px;
    line-height: 20px;
  }

  &__before-after {
    position: relative;
  }

  &__img--before {
    position: absolute;
  }
}

.example__span {
  font-family: $mainFonts;
  font-size: 16px;
  line-height: 20px;
}

.example__wrapper--space-around {
  justify-content: center;
  align-items: center;
}

.exaple__form {
  width: 84px;
  height: 14px;
  margin: 0 20px;
  border: none;
  margin-bottom: 38px;
}

@media (min-width:768px) {

  .example {
    padding: 20px 30px 35px 30px;
    background-color: white;
  }
  .example__heading {
    font-size: 60px;;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__list {
    margin-right: 40px;
    &:last-child {
      margin-right: 0px;
    }
  }

  .example__expenses {
    font-size: 20px;
    line-height: 20px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__term {
    font-size: 14px;
    line-height: 14px;
  }

  .example__before-after {
    min-height: 462px;
    background-color: #f2f2f2;
  }
}

@media (min-width:1440px) {
  .example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
    background-color: #f2f2f2;
  }

  .example__first-wrapper {
    width: 570px;
  }

  .example__before-after {
    width: 570px;
  }
}
