.header-list {
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: solid 1px #e6e6e6;
  }

  &__item {
    width: 280px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px #e6e6e6;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 20px;
  }
}
