.how-it-work {
  padding-bottom: 42px;
  &__heading {
    @include typeHeading;
    margin-top: 20px;
    margin-bottom: 27px;
    font-weight: 400;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: $secondaryFonts;
    font-size: 14px;
    line-height: 18px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__img {
    margin-right: 20px;
  }
}

@media (min-width:768px) {
  .how-it-work {
    padding-bottom: 95px;
  }

  .how-it-work__heading {
    font-size: 60px;
    margin-top: 45px;
    margin-bottom: 70px;
  }

  .how-it-work__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 75px;
  }

  .how-it-work__item {
    display: block;
    max-width: 250px;
    min-height: 180px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .how-it-work__img {
    display: block;
    margin-bottom: 37px;
    width: 80px;
    height: 80px;
  }

  .how-it-work__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
    width: 100%;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


@media (min-width:1440px) {
  .how-it-work {
    padding-bottom: 260px;

    &__list {
      padding: 0;
    }

    &__heading {
      margin-top: 75px;
      margin-bottom: 65px;
    }

    &__item {
      width: 245px;
    }

    &__wrapper {
      width: 570px;
      margin: 0;
    }
  }

}
