.info-about-master {

  border: 0;
  padding: 0;
  padding: 0;

  &__legend {
    margin-bottom: 30px;
    font-family: $mainFonts;
    font-size: 24px;
    line-height: 24px;
    color: #111111;
    font-weight: 500;

    &::after {
      /*content: " ";*/
      display: block;
      height: 3px;
      width: 100%;
      background-color: #68b738;
    }
  }

  &__label {
    margin-bottom: 14px;
    @include lableFonts;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 23px;
    }
  }

  &__span {
    align-self: center;
    flex-shrink: 0;
  }

  &__input {
    width: 100%;
    margin-left: 16px;
    padding: 13px 35px 13px 16px;
    border: 1px solid #e7e7e7;
    font-family: $mainFonts;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (min-width:1440px) {
  .info-about-master__wrapper-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-about-master__label {
    width: 570px;
  }
}
