.main-footer {

  &__wrapper {
    display: flex;
    padding: 25px 20px;
  }

  &__second-wrapper {
    padding: 0 20px;
  }
}

.main-footer__invite {
  margin-right: 18px;
  font-family: $mainFonts;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 500;
}

.main-footer__address {
  margin: 0;
  font-family: $secondaryFonts;
  font-size: 14px;
  line-height: 20px;
}

.main-footer__map {
  width: 100%;
}

.main-footer__tittle-logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  display: block;
  padding-top: 40px;
  padding-bottom: 31px;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 22px;
  border-top: solid 1px #e6e6e6;;
  border-bottom: solid 1px #e6e6e6;;
}

.main-footer__dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondaryFonts;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

}

.main-footer__second-wrapper {
  background-color: #f2f2f2;
}

@media (min-width:768px){
  .main-footer__second-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    height: 150px;
  }

  .main-footer__wrapper {
    padding: 0 40px;
    margin: 0 30px;
  }

  .main-footer__tittle-logo {
    margin: 0;
  }

  .main-footer__dev {
    width: 162px;
  }

  .main-footer__list  {
    border: none;
    margin: 0;
  }

  .main-footer__map {
    margin: 0;
    max-height: 395px;
  }

  .main-footer__invite {
    font-size: 20px;
    line-height: 25px;
    margin-right: 320px;
  }
  .main-footer__address {
    font-size: 16px;
  }

}

@media (min-width:1440px) {
  .main-footer__second-wrapper {
    padding: 0 40px;
    margin: 0 70px;
  }

  .main-footer__map  {
    max-height: 400px;
  }

  .main-footer {
    position: relative;
  }

  .main-footer__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 68px 90px 60px 75px;
    margin: 0;
    width: 570px;
    min-height: 201px;
    background-color: white;
  }

  .main-footer__invite {
    margin: 0;
    width: 160px;
  }

  .main-footer__address {
    width: 155px;
  }
}
