.main-footer {

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 20px;
    background-color: #f2f2f2;
  }

  .main-footer__wrapper--bg-none {
    background-color: white;
  }

  &__second-wrapper {
    padding: 0 20px;
  }

  &__map-wrapper {
    position: relative;
  }

  &__interactive-map {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 362px;
  }

  &__tittle-logo {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  &__link-dev {
    text-decoration: none;
    font-family: arial;
    font-size: 16px;
    line-height: 16px;
    color:#444444;
    &:active {
      opacity: 0.3;
    }
  }

  &__html-ikon {
    &:hover {
      fill:#68b738;
    }
    &:active {
      opacity: 0.3;
      fill:#68b738;
    }
  }
}

.main-footer__invite {
  width: 125px;
  font-family: $mainFonts;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

.main-footer__address {
  margin: 0;
  width: 135px;
  font-family: $secondaryFonts;
  font-size: 14px;
  line-height: 20px;
}

.main-footer__map {
  width: 100%;
  height: 365px;
}

.main-footer__tittle-logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  display: block;
  padding-top: 37px;
  padding-bottom: 30px;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 22px;
  border-top: solid 1px #e6e6e6;;
  border-bottom: solid 1px #e6e6e6;;
}

.main-footer__dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  font-family: $secondaryFonts;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

}

.main-footer__second-wrapper {
  background-color: #f2f2f2;
  margin-top: -5px;
}

@media (min-width:768px){
  .main-footer__second-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    height: 150px;
  }

  .main-footer__interactive-map {
    height: 397px;
  }

  .main-footer__wrapper {
    padding: 65px 69px 55px 69px;
    background-color: #f2f2f2;
  }

  .main-footer__tittle-logo {
    margin: 0;
  }

  .main-footer__dev {
    width: 162px;
    padding: 0;
  }

  .main-footer__list  {
    border: none;
    margin: 0;
  }

  .main-footer__map {
    margin: 0;
    min-height: 396px;
  }

  .main-footer__invite {
    font-size: 20px;
    line-height: 25px;
    margin-right: 320px;
  }
  .main-footer__address {
    font-size: 16px;
    text-align: right;
  }

}

@media (min-width:1440px) {
  .main-footer__second-wrapper {
    padding: 0 110px;

  }

  .main-footer__interactive-map {
    height: 404px;
  }

  .main-footer__map  {
    max-height: 400px;
  }

  .main-footer {
    position: relative;
  }

  .main-footer__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 68px 90px 60px 75px;
    margin: 0;
    width: 570px;
    min-height: 201px;
    background-color: white;
    z-index: 1;
  }

  .main-footer__invite {
    margin: 0;
    width: 160px;
  }

  .main-footer__address {
    width: 155px;
    text-align: left;
  }
}
