.navigation {
  font-family: $mainFonts;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__toggle {
  display: none;
  width: 18px;
  height: 18px;
}

@media (min-width:768px) {
  .navigation {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
  }
}

