.present {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  @media (min-resolution: 144dpi),(min-resolution: 1.5dppx) {
    background-image:url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }

  &__info {
    margin: 0;
    position: relative;
    top:190px;
    display: block;
    text-align: center;
    font-family: $secondaryFonts;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}

@media (min-width:768px) {
  .present {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    @media (min-resolution: 144dpi),(min-resolution: 1.5dppx) {
      background-image:url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
    &__info {
      position: absolute;
      top:75px;
      left: 423px;
      text-align: left;
    }
  }
}

@media (min-width:1440px) {
  .present {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
    @media (min-resolution: 144dpi),(min-resolution: 1.5dppx) {
      background-image:url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }
  }
}
