.product-table {
  width: 140px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $secondaryFonts;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }

  &__row:last-child {
    flex-basis: auto;
  }
}

@media (min-width:768px) {
  .product-table {
    width: 250px;


    &__row {
      font-size: 16px;
      padding: 7px 0;
      border-bottom: 1px solid  #cdcdcd;
    }
  }
}

@media (min-width:1440px) {
  .product-table {
    width: 170px;
  }
}
