.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    margin-bottom: 25px;
    border-top: 1px solid #f2f2f2;
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__name {
    display: block;
    margin-top: 22px;
    margin-bottom: 16px;
    font-family: $mainFonts;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
    padding-right: 50px;
  }
}

@media (min-width:768px) {
  .product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-list__item {
    width: 324px;

  }
}

@media (min-width:1440px) {
  .product-list__item {
    width: 245px;
    min-height: 431px;
  }

  .product-list__wrapper {
    flex-direction: column;
  }

  .product-list__table-wrapper {
    order:2;
  }

  .product-list__img {
    order: 1;
  }
}
