.programm {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 25px 25px 15px 20px;


  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__heading {
    font-family: $mainFonts;
    margin: 0;
    padding-top: 5px;
    order:2;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;

  }

  &__img--sitting {
    width: 35px;
    height: 49px;
    margin-top: -3px;
  }

  &__img--going {
    width: 67px;
    height: 28px;
  }

  &__text {
    @include typeText;
    margin: 0;
    margin-top: 26px;
    margin-bottom: 15px;
    padding-bottom: 24px;
    border-bottom: solid 1px #e6e6e6;
  }

  &__text br {
    display: none;
  }

  &__button {
    font-family: $mainFonts;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: #111111;
    text-decoration: none;
    &:active {
      opacity: 0.3;
    }
  }
  &__bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    margin-left: 10px;
  }
}

@media (min-width:768px) {
  .programm {
    min-height: 372px;
    padding: 75px 60px 60px 50px;

    &__wrapper {
      position: relative;
    }

    &__heading {
      order:1;
      font-size: 36px;
      line-height: 37px;
      padding: 0;
    }

    &__img--sitting {
      width: 140px;
      height: 194px;
      margin-top: -12px;
    }

    &__img--going {
      width: 268px;
      height: 112px;
    }


    &__text {
      margin-top: 26px;
      margin-bottom: 51px;
      padding: 0;
      border: none;
      width: 372px;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
    }

    &__text br {
      display: block;
    }

    &__button {
      font-size: 20px;
      line-height: 20px;
    }

    &__bg {
      width: 200px;
      height: 200px;
      order: 2;
      position: absolute;
      left: 395px;
      top: 10px;
    }

    &__arrow {
      margin-left: 25px;
    }
  }


}

@media (min-width:1440px) {
  .programm {
    width: 570px;
    min-height: 372px;
    padding: 40px 53px 55px 52px;

    &__heading {
    order:2;
    font-size: 36px;
    line-height: 37px;
    align-self: center;
    flex-shrink: 0;
    }

    &__wrapper {
      position: static;
    }

    &__img--sitting {
      width: 70px;
      height: 97px;
    }

    &__img--going {
      width: 134px;
      height: 56px;
    }

    &__bg {
      width: 100px;
      height: 100px;
      order: 1;
      position: static;
      margin-right: 64px;
    }

    &__text {
      width: auto;
      margin-top: 37px;
      margin-bottom: 35px;
    }

    &__text br {
      display: none;
    }
  }
}
