.social-list {
  padding-left: 73px;
  padding-right: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 62px;
  &__item {
    align-self: center;
  }
  &__item svg {
    &:hover {
      fill:#68b738;
    }
  }
}

@media (min-width:768px) {
  .social-list {
    padding: 0;
    height: auto;
    min-width: 130px;
    margin-top: 10px;
    margin-left: 17px;

    &__link--vk svg{
      width: 30px;
      height: 16px;
    }

    &__link--inst svg {
      width: 23px;
      height: 23px;
    }

    &__link--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}
