@import "variables.scss";
@import "page.scss";
@import "main-header.scss";
@import "main-content.scss";
@import "header-list.scss";
@import "navigation.scss";
@import "button.scss";
@import "block-info.scss";
@import "programm.scss";
@import "how-it-work.scss";
@import "example.scss";
@import "main-footer.scss";
@import "social-list.scss";
@import "product-list.scss";
@import "product-table.scss";
@import "show-product.scss";
@import "additional-product.scss";
@import "present.scss";
@import "form.scss";
@import "info-about.scss";
@import "info-about-master.scss";
@import "type-programm.scss";
@import "additionally.scss";
@import  "comment-space.scss";
/*
body {
  background-image: url(../img/bg/index/cat-energy-index-desktop.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center 0;
}*/
