.type-programm {
  box-sizing: border-box;
  padding: 22px 0;
  display: flex;
  flex-direction: column;

  &__label {
    @include lableFonts;
    margin-bottom: 13px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__input-radio {
    margin-right: 16px;
  }
}
