$mainFonts: "Oswald",  "sans-serif";
$secondaryFonts: "Arial";

@mixin typeHeading {
  font-family: $mainFonts;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: 500;
}

@mixin typeText {
  font-family: $secondaryFonts;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@mixin lableFonts {
  font-family: $mainFonts;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  border:0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
